@model CarShare.BO.Trajet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Trajet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Depart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Depart.Intitule)
        </dd>

    </dl>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Arrive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Arrive.Intitule)
        </dd>

    </dl>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Conducteur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Conducteur.Prenom)
            @Html.DisplayFor(model => model.Conducteur.Nom)
        </dd>

    </dl>

  
    <dl class="dl-horizontal">
        @{
            if (Model.Passagers != null)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Passagers)
                </dt>

            }
        }

        @{
            foreach (var passager in Model.Passagers)
            {
                <dd>
                    - @Html.DisplayFor(model => passager.Prenom) @Html.DisplayFor(model => passager.Nom)
                </dd>
            }
        }
    </dl>


        </div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
