@model CarShare.Models.TrajetsViewModels

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Trajet</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Trajet.Id)


    <div class="form-group">
        @Html.LabelFor(model => model.Trajet.Depart, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(m =>m.selectedDepart,
                                 Model.listeEmplacements.Select(a => new SelectListItem { Value = a.Id.ToString(), Text = a.Intitule}),
                                 new { htmlAttributes = new { @class = "form-control"} }
                                 )
            @Html.ValidationMessageFor(model => model.Trajet.Depart, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Trajet.Arrive, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.selectedArrivee,
                                 Model.listeEmplacements.Select(a => new SelectListItem { Value = a.Id.ToString(), Text = a.Intitule}),
                                 new { htmlAttributes = new { @class = "form-control"} }
                                 )
            @Html.ValidationMessageFor(model => model.Trajet.Arrive, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.Trajet.Date, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.selectedDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
            @Html.ValidationMessageFor(model => model.Trajet.Date, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Horraire de départ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.selectedHeureDepart, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Trajet.Date, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
